{% extends 'base.html' %}

{% block content %}

<div class="col-3">
        <form  method="post" enctype="multipart/form-data">
            <div class="col-3"></div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                       Верификация
                    </h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                           Подтвердить
                        </button>
                    </form>
                </div>
            </div>
        </form>
</div>

{% endblock %}
