{% extends 'base.html' %}

{% block content %}

<div class="col-3">
        <form  method="post" enctype="multipart/form-data">
            <div class="col-3"></div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                       Профиль
                    </h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                           Сохранить
                        </button>
                        <a href="{% url 'users:generate_new_password' %}" class="btn btn-lg btn-block btn-outline-danger" >Изменить пароль</a>
                        <a href="{% url 'users:confirm_email' int.pk %}" class="btn btn-lg btn-block btn-outline-danger" >Подтвердить почту</a>
                    </form>
                </div>
            </div>
        </form>
</div>

{% endblock %}
